/* General styling easier here than with styled-components */
@font-face {
  font-family: "CustomFont";
  src: url("fonts/ADAMCGPRO.otf");
}

* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background: rgb(240, 240, 240);
  margin: 0;
}

ol,
ul {
  padding: 0;
  width: 100%;
  list-style: none;
}

@keyframes backgroundAnim {
  0% {
    background: #fff;
  }
  33% {
    background: rgb(161, 255, 169);
  }
  66% {
    background: #fff;
  }
  100% {
    background: rgb(161, 255, 169);
  }
}
